body { 
 font-family: Sans-Serif , Arial ,Helvetica;
 line-height:1.6;
 margin: 20px;
 color: #333;
 background-color: #f9f9f9;
}

h1 {
    color: #1e88e5;
}

h2 {
    color: #555;
    font-weight: noraml;
}

h3 { color: #2e7d32;
     border border-bottom: 2px solid #2e7d32;
     padding-bottom: 4px;
}
